gas_adjustment = 1.5
provider_min_override = true

[server]
listen_addr = "0.0.0.0:7171"
read_timeout = "20s"
verbose_cors = true
write_timeout = "20s"

[[deviation_thresholds]]
base = "USDT"
threshold = "1.5"

[[deviation_thresholds]]
base = "ATOM"
threshold = "1.5"

[[deviation_thresholds]]
base = "JUNO"
threshold = "1.5"

[[deviation_thresholds]]
base = "USDC"
threshold = "1.5"

[[currency_pairs]]
base = "USDT"
providers = [
  "coinbase",
  "ftx",
]
quote = "USD"

[[currency_pairs]]
base = "ATOM"
providers = [
  "okx",
  "binance"
]
quote = "USDT"

[[currency_pairs]]
base = "ATOM"
providers = [
  "kraken",
  "ftx",
  "osmosis",
]
quote = "USD"

[[currency_pairs]]
base = "JUNO"
providers = [
  "osmosis",
]
quote = "USD"

[[currency_pairs]]
base = "JUNO"
providers = [
  "bitget",
]
quote = "USDT"

[[currency_pairs]]
base = "JUNO"
providers = [
  "bitget",
]
quote = "USDT"


[[currency_pairs]]
base = "USDC"
providers = [
  "okx",
  "bitget",
  "kraken",
]
quote = "USDT"

[account]
address = "juno15x87cdlt9ed0xhgtsdutdec3njg42q3a9vw7fn"
chain_id = "test-1"
validator = "junovaloper15x87cdlt9ed0xhgtsdutdec3njg42q3a63c3j2"
prefix = "juno"

[keyring]
backend = "test"
dir = "/home/vuong/.juno"

[rpc]
grpc_endpoint = "localhost:9090"
rpc_timeout = "100ms"
tmrpc_endpoint = "http://localhost:26657"

[telemetry]
enable-hostname = true
enable-hostname-label = true
enable-service-label = true
enabled = true
global-labels = [["chain_id", "test-1"]]
service-name = "price-feeder"
prometheus-retention-time = 100

[[provider_endpoints]]
name = "binance"
rest = "https://api1.binance.com"
websocket = "stream.binance.com:9443"
