---
on: [push, pull_request]
name: every commit
jobs:

  build:
    runs-on: ubuntu-latest
    name: build
    steps:
      - uses: actions/checkout@v3
      - name: Setup go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - run: go build ./...

  test:
    runs-on: ubuntu-latest
    name: test
    steps:
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Test
      run: go test ./...

price-feeder:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: technote-space/get-diff-action@v6.1.1
        with:
          PATTERNS: |
            **/**.go
            price-feeder/go.mod
            price-feeder/go.sum
      - uses: actions/setup-go@v3
        if: env.GIT_DIFF
        with:
          go-version: 1.18
          cache: true
          cache-dependency-path: price-feeder/go.sum
      - name: Test price-feeder
        if: env.GIT_DIFF
        run: |
          cd price-feeder && make test-unit   

# Use --check or --exit-code when available (Go 1.18?)
# https://github.com/golang/go/issues/27005
  tidy:
    runs-on: ubuntu-latest
    name: tidy
    steps:
      - uses: actions/checkout@v3
      - name: Setup go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - run: |
          go mod tidy
          CHANGES_IN_REPO=$(git status --porcelain)
          if [[ -n "$CHANGES_IN_REPO" ]]; then
            echo "Repository is dirty. Showing 'git status' and 'git --no-pager diff' for debugging now:"
            git status && git --no-pager diff
            exit 1
          fi
