---
on: [push, pull_request]
name: Test Simulation 
jobs:

  test:
    runs-on: ubuntu-latest
    name: test
    steps:
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Test
      run: test-sim-multi-seed-short